/* Punto después del número de sección */

.header-section-number {
  margin-right: 5px;
}

.header-section-number::after {
  content: ".";
}

.title .chapter-number::after {
  content: ".";
}

.sidebar-item .chapter-number::after {
  content: ".";
}

/* Estilo de las partes en el sidebar */

.sidebar-item-section .text-start {
  text-transform: uppercase;
  font-weight: bold;
}

/* Estilo del título de la tabla de contenidos */

#toc-title {
  text-transform: uppercase;
  font-weight: bold;
}

/* Referencias de API */

.apirefs-ref {
  color: #0d6efd;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 0.875em;
  font-weight: 400;
}

.apirefs-entry-label {
  font-weight: bold;
}

.apirefs-list > ul {
  list-style-type: none;
  padding-left: 0rem;
}

.apirefs-entry-members-list > ul {
  padding-left: 2rem;
}

.apirefs-list .apirefs-entry-refs > ul {
  padding-left: 3.5rem;
}
