.apirefs-ref{
  white-space: nowrap;
}

.apirefs-ref-marker {
  padding-right: 1px;
}

.apirefs-entry-label {
  font-weight: bold;
}

.apirefs-entry-extends {
  font-style: italic;
}

.apirefs-entry-type {
  font-style: italic;
}

.apirefs-entry-type:after {
  content: "»";
}

.apirefs-entry-type:before {
  content: "«";
}

.apirefs-entry-nobrk {
  white-space: nowrap
}

.apirefs-list > ul {
  list-style-type: none;
  text-indent: -1.5em;
}

.apirefs-top-list > ul > li {
  margin-bottom: 0.5em;
}

.apirefs-entry-otherrefs > ul {
  text-indent: 0;
  margin-bottom: 0;
}

.apirefs-entry-refs .apirefs-entry-ref {
  text-decoration: none;
}